/* Reset the padding and margin to remove browser default styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Dark background for the menu */
}

li {
    float: left;
}

li a {
    display: block;
    color: white; /* White text color */
    text-align: center;
    padding: 14px 20px; /* Spacing around the links */
    text-decoration: none;
}

/* Change background color of links on hover */
li a:hover {
    background-color: #117a8b;
}
